<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto|Roboto+Slab" rel="stylesheet">

#title {
  font-family: Roboto Slab, serif;
}

#description {
  font-family: Roboto, sans-serif;
}

#para {
  font-family: Raleway, sans-serif;
}

.banner {
}
