<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto-Slab" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

#title {
  font-family: Roboto-Slab;
}

#description {
  font-family: Roboto;
}

#para {
  font-family: Raleway;
}

.banner {
  width: 1000px;
}
